/* Estilos para el paso de selección de sexo */
.gender-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.gender-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 1em;
}

.gender-option .image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  transition: transform 0.3s, border 0.3s;
}

.gender-option:hover {
  background-color: var(--light-yellow);
  transform: scale(1.1);
}

.gender-option.selected {
  background-color: var(--yellow);
  transform: scale(1.1);
}

.gender-option img {
  width: 75px;
  object-fit: contain;
}

.gender-option p {
  margin: 0;
  font-size: 0.9rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
}