.result-view {
  text-align: center;
  padding: 2rem;
}

.result-description {
  margin-bottom: 2rem;
  color: #555;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.result-card {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 12px;
  border: 2px solid var(--yellow);
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.result-card strong {
  display: block;
  color: black;
  font-family: var( --font-family);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.3rem;
}

.result-card span {
  font-size: 1rem;
  color: black;
  font-weight: 500;
}
