/* Estilos para el paso de selección de deporte */
.sports-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 3rem;
  justify-items: center;
}

.sport-option {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d1d1d1;
  color: black;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sport-option img {
  width: 75px;
  object-fit: fill;
}

.sport-option p {
  margin: 0;
  font-size: 0.9rem;
}

.sport-option:hover, .sport-option.selected {
  border-color: var(--yellow);
  transform: scale(1.1);
}
